# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Ll]og/
[Ll]ogs/

# Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET
appsettings.*.local.json
*.mdf
*.ldf

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
.nuget/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
